.movie-card{
	display: flex;
	height: 281px;
	width: 454px;
	box-shadow: 0  4px 12px rgba(0 0 0 / 15%);
}

.movie-poster{
	min-height: 281px;
	min-width: 183px;
}

.movie-data{
	margin: 12px 20px;
}

.movie-data__title{
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.movie-data__release-date{
	color: #827E7E;
	font-size: 12px;
	line-height: 22px;
}

.movie-data__description{
	width: 228px;
	margin-top: 8px;
}

.movie-poster__img {
	max-height: 281px;
	max-width: 183px;
}