.movie-card{
	display: flex;
	height: 281px;
	width: 454px;
	box-shadow: 0  4px 12px rgba(0 0 0 / 15%);
}

.movie-poster{
	min-height: 281px;
	min-width: 183px;
}

.movie-data{
	margin: 12px 20px;
}

.movie-data__title{
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.movie-data__release-date{
	color: #827E7E;
	font-size: 12px;
	line-height: 22px;
}

.movie-data__description{
	width: 228px;
}

.movie-data__tags{
	display: flex;
	gap: 8px;
	margin: 8px 0;
}

.movie-data__tag{
	line-height: 15px;
	padding: 2px 4px;
	background: #FAFAFA;
    border: 1px solid #D9D9D9;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.65);
}

.movie-poster__img {
	max-height: 281px;
	max-width: 183px;
}